/**CONTENTS**\
 *
 *
 * FONTS
 *
 *
 * Navbar & Layout
 *
 *
 * GENERIC
 *
 *
 * BASE
 *
 *___________________________________________
 * STYLES MOVED TO LAYOUT.CSS:
 *  \
 *   \
 *    \
 *    -Header Brand
 *    -Nav Menu
 *    -Hero
 *    -colorchart
 *    /
 *   /
 *  /
 *___________________________________________
 */
/*------------------------------------*\
    HERO SECTIONS
\*------------------------------------*/

/*------------------------------------*\
    #Fonts
\*------------------------------------*/

.font-am {
    font-family: 'Amethysta', serif; }

.font-dyna {
    font-family: 'Dynalight', cursive; }

.font-droid {
    font-family: 'Droid Sans', sans-serif;
    font-size: 20px; }

.divider {
    height: 50px;
    /*border: 1px dotted; */
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee; }

body {
    background: url("../images/bg-tileable.gif") repeat; }


/*****************************************/
/* CONTAINER / ROW / COL / SECTION       */
/*****************************************/


section {
    color: #fff;
    height: 500px;
    padding-top: 30px;
    overflow: hidden;
    z-index: -1; }


.bg-1 {
  background: url("../images/8.jpg") no-repeat top center fixed;
  background-size: 920px; }
.bg-2 {
  background: url("../images/7.jpg") no-repeat top center fixed;
  background-size: 1100px; }
.bg-3 {
  background: url("../images/6.jpg") no-repeat top center;
  background-size: 1100px; }


.container {
  background-color: #fff;
  margin: 0 auto;
}
/*// // // // // // // // // // // // // // // /*/
/*/   LAYOUT       // // // // // // // // // //*/
/* // // // // // // // // // // // // // // // */
/********* @320px *********/
.row {
  float: none;
  margin: 0 auto;
  width: 300px; }

.row.sectrow {
    margin: 0;
    width: 310px;
}
.col {
    position: relative;
    float: none;
    margin: 4px auto;
    padding: 0 1%;
}
.col-f {
    float: left;
}
.panel {
    display: block;
    position: relative;
    z-index: 2;
    background-color: #eee;
    border: 1px solid #ddd;
    -moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
    margin: 0 auto;
    width: 292px;
    height: 239px;
}
/********* @450px *********/
@media (min-width: 450px) and (max-width: 650px) {
    .row {
        width: 410px;
    }
    .row.sectrow {
        width: 420px;
    }
    .row-3x3-stack {
    }
    .col {
        padding: 0 15%;
    }
}
/********* @650px *********/
@media (min-width: 650px) and (max-width: 930px) {
    .row {
        width: 606px;
    }
    .row.sectrow {
        width: 620px;
    }
    .col {
        padding: 0 4px;
    }
}
/********* @930px *********/
@media (min-width: 930px) {
    .row {
        width: 906px;
    }
    .row.sectrow {
        width: 920px;
    }
    .col {
        padding: 0 4px;
    }
}

/*// // // // // // // // // // // // // // // /*/
/*/ END: LAYOUT    // // // // // // // // // //*/
/* // // // // // // // // // // // // // // // */


/*******************/
/*     PANELS      */
/*******************/
/* PANEL: BLUE */
.pnl-blue {
    background-color: #039;
    color: #fff;
    text-align: center; }

/* PANEL: FEATURE */
.pnl-feature {
    background: url("../images/1.jpg") no-repeat;
    background-size: 120%;
  color: #fff;
  text-align: center; }

.pnl-feature-heading {
  font-family: Amethysta;
  font-size: 25px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  background-color:rgba(200,200,200,0.6);
  border-top:    2px solid #000;
  border-bottom: 2px solid #000;
}
a.pnl-feature-btn {
  position: relative;
  top:10px;
  background-color: rgba(0, 29, 89, 0.64);
  padding: 2px 3px 3px 3px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  border-radius: 13px;
  border: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #ffffff;
  transition: transform 0.6s ease; }

.pnl-feature-btn:hover {
  text-decoration: none;
  color: #ffffff; }

/* PANEL: BASIC */
.pnl-basic{
    padding: 0;
    background: url("../images/4.jpg") no-repeat;
    background-size: 120%;
    color: #fff;
    text-align: center;
}
.pnl-basic-heading {
    font-family: Amethysta;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    background-color:rgba(200,200,200,0.6);
    border-top:    2px solid #000;
    border-bottom: 2px solid #000;
}

.pnl-basic-footing {
    font-family: Amethysta;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    text-align: center;
    margin-top: 79px;
    margin-bottom: 5px;
    background-color:rgba(200,200,200,0.6);
    border-top:    2px solid #000;
    border-bottom: 2px solid #000;
}

/* PANEL: NEWS */
.pnl-news {
  height: 239px; }

.pnl-news-heading {
  height: 15px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 19px;
    font-weight: bolder;
  padding: 10px 15px;
  background-color: #f5f5f5;
  color: #333; }

.pnl-news-footing {
  float: right;
  padding: 2px; }

/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}*/
/*------------------------------------*\
    #navbar
\*------------------------------------*/
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
#footer {
  color: gray;
  height: 30px;
  background-color: #010101;
  margin-top: 50px;
  padding-top: 5px;
  padding-bottom: 20px; }

#footer a {
  color: #efefef; }

/*# sourceMappingURL=ab.css.map */
