/**CONTENTS**\
 *
 *
 * FONTS
 *
 *
 * Navbar & Layout
 *
 *
 * GENERIC
 *
 *
 * BASE
 *
 *___________________________________________
 * STYLES MOVED TO LAYOUT.CSS:
 *  \
 *   \
 *    \
 *    -Header Brand
 *    -Nav Menu
 *    -Hero
 *    -wtfimports
 *    /
 *   /
 *  /
 *___________________________________________
 */


/*------------------------------------*\
    HERO SECTIONS
\*------------------------------------*/

.row section {
  margin: 0;
  width: auto;
}
section {
  height:500px;
  padding-top:30px;
  overflow:hidden;
  z-index: -1;
}
.bg-1 {
  background: url('../images/8.jpg') no-repeat top center fixed;
  color:#fff;
  background-size:900px;
}
.bg-2 {
  background: url('../images/7.jpg') no-repeat top center fixed;
  color:#fff;
  background-size:1100px;
}
.bg-3 {
  background: url('../images/6.jpg') no-repeat bottom center fixed;
  color:#fff;
  background-size:1100px;
}

/*------------------------------------*\
    #Fonts
\*------------------------------------*/
/*@font-face {*/
          /*font-family:"Amethysta Regular";*/
                  /*src:url(fonts/Amethysta-Regular.ttf) format("truetype");*/
          /*font-family:"Dynalight Regular";*/
                  /*src:url(fonts/Dynalight-Regular.ttf) format("truetype");*/
          /*font-family:"Droid Sans";*/
                  /*src:url(fonts/DroidSans.ttf) format("truetype");}*/
.font-am {
  font-family: 'Amethysta', serif;
}
.font-dyna {
  font-family: 'Dynalight', cursive;
}
.font-droid {
  font-family: 'Droid Sans', sans-serif;
  font-size:20px;
}
.divider {
    height:50px;
    border: 1px dotted;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

/*************************/
/* CONTAINER / ROW / COL */
/*************************/

body {
  background: url('../images/bg-tileable.gif') repeat;
}


.container {
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
}

.row {
  float: none;
  margin: 0 auto;
  width: 300px;
}
.col {
  padding: 3px;
  position: relative;
  float: none;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .col-f {
    float: left;
  }
  .row {
    float: none;
    margin: 0 auto;
    width: 600px;
  }
}

@media (min-width: 930px) {
  .col-f {
    float: left;
  }
  .row {
    float: none;
    margin: 0 auto;
    width: 900px;
  }
}
/*******************/
/*     PANELS      */
/*******************/
.panel {
  display:block;
  position: relative;
  z-index: 2;
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 292px;
  margin: 0 auto;
  height: auto;
}

/* PANEL: BLUE */
.pnl-blue {
  padding: 10px 0px;
  min-height: 219px;
  background-color: #039;
  color:#fff;
  text-align: center;
}





/* PANEL: FEATURE */
.pnl-feature {
  padding: 10px 0px;
  min-height: 219px;
  background-image: url('../images/1.jpg');
  background-repeat: no-repeat;
background-size:120% ;
  color:#fff;
  text-align: center;
}
.pnl-feature-heading {
  font-family: Amethysta;
  font-size:25px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin-top:20px;
}
.pnl-feature-subheading {
  font-family: Amethysta;
  font-size: 20px;
  padding: 0px 20px;
  font-weight: normal;
  color: #aaa;
  text-align: left;
}
.pnl-feature-btn {
  background-color:rgba(0,29,89,0.64);
  padding: 2px;
  -moz-border-radius:13px ;
  -webkit-border-radius:13px ;
  border-radius:13px ;
  border: 1px solid #000;
  font-family:Arial, Helvetica, sans-serif;
  font-size:15px;
  color:#ffffff;
  transition: transform 0.6s ease;
}
.pnl-feature-btn:hover {
  text-decoration: none;
  color: #ffffff;
}

/* PANEL: BASIC */
.pnl-basic-heading {
  padding: 5px;
}
.pnl-basic-image{
  display: block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0 none;
}
.pnl-basic-footer {
  background-color: #f5f5f5;
  text-align: right;
  width: 100%;

}






/* PANEL: NEWS */
.pnl-news{
  height:600px;
}
.pnl-news-heading {
  height: 29px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #f5f5f5;
  color: #333;
}
.pnl-news-iframe {
}
.pnl-news-footer {
  float:right;
  padding: 2px;
}









/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}*/


/*------------------------------------*\
    #navbar
\*------------------------------------*/








/*------------------------------------*\
    FOOTER
\*------------------------------------*/

#footer {
    color: gray;

    height: 30px;
    background-color:#010101;
    margin-top:50px;
    padding-top:5px;
    padding-bottom:20px;
}

#footer a {
    color:#efefef;
}



